<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
        </Console>
        <RollingRandomAccessFile name="FileLogger" filePattern="$${sys:logFilename}">
            <PatternLayout>
                <pattern>[%-5level] %d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %c{1} - %msg%n</pattern>
            </PatternLayout>
            <DirectWriteRolloverStrategy />
            <NoOpTriggeringPolicy />
        </RollingRandomAccessFile>
        <RollingRandomAccessFile name="CSVLogger" filePattern="$${sys:periodicFilename}">
            <CsvParameterLayout delimiter=","/>
            <DirectWriteRolloverStrategy />
            <NoOpTriggeringPolicy />
        </RollingRandomAccessFile>
    </Appenders>
    <Loggers>
        <AsyncLogger name="ca.team2706.frc.robot.Robot" level="trace" additivity="false">
            <AppenderRef ref="Console" level="info"/>
            <AppenderRef ref="FileLogger" level="trace"/>
        </AsyncLogger>
        <AsyncLogger name="Periodic" level="trace" additivity="false">
            <AppenderRef ref="CSVLogger" level="debug"/>
        </AsyncLogger>
        <AsyncRoot level="debug">
            <AppenderRef ref="Console"/>
        </AsyncRoot>
    </Loggers>
</Configuration>
